* { margin: 0;}
.topbar {
    background-color: #434a54;
    display: flex;
    padding: 5px;
}
.gmailicon {
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.layer {
display: flex;
color: aliceblue;
}

.heading {
    font-size: 50px;
}

.headStyle {
    color: #3cb89c;

}
.navstyle {
    display:flex ;
    justify-content: space-around;
    width: 100%;

}
.article {
    font-size: 30px;
    color: #3cb89c;
    display: flex;
    justify-content: center;
}
.firstarticle{
padding: 20px;
}

.footer {
    background-color: #434a54;
    height: 62px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: aliceblue;
}
.cardboxes{
    
}