* { margin: 0;}
.topbar {
    background-color: #434a54;
    display: flex;
    padding: 5px;
}
.gmailicon {
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.layer {
display: flex;
color: aliceblue;
}

.heading {
    font-size: 50px;
}

.headStyle {
    color: #3cb89c;

}
.navstyle {
    display:flex ;
    justify-content: space-around;
    width: 100%;

}
.article {
    font-size: 30px;
    color: #3cb89c;
    display: flex;
    justify-content: center;
}
.firstarticle{
padding: 20px;
}

.footer {
    background-color: #434a54;
    height: 62px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: aliceblue;
}
.duration{
    margin-top: -15px;
}
.card-body{
    background-color: #3cb89c;
    
}
.card-title{
    color: aliceblue;
    font-size: 15px;
}
.duration{
    color: aliceblue;
    font-size: 14px;
    font-style: italic;
}
.card-text{
    font-size: 14px;
    font-style: italic;
}
.cardheading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}
.article2{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}
.secondarticle{
    padding: 20px;
}
.boxborder{
    height: 20px;
    background-color: #ececec;
    
}
.viewall{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;  
    margin: 10px 0;
    height: 40px;
}
.button{
    justify-content: right;
    align-items: right;
    display: flex;
    padding: 20px;
}